<div class="h-100 row align-items-center">
  <div class="row rounded border border-secondary" style="background-color: white; margin-left: .5vw;">
    <div class="col-md-auto">
      <p><button mat-icon-button color="warn"><mat-icon aria-label="Invert Colors">invert_colors</mat-icon></button></p>
      <p><button mat-icon-button color="warn"><mat-icon aria-label="Heat Map">local_fire_department</mat-icon></button></p>
    </div>
    <div class="col-md-auto">
      <p><button mat-icon-button color="warn"><mat-icon aria-label="Normal">adjust</mat-icon></button></p>
      <p><button mat-icon-button color="warn"><mat-icon aria-label="Clear">clear</mat-icon></button></p>
    </div>
  </div>
  <div class="col-xs text-center" style="padding-top: 10%;">
      <img src="assets/xray.png" alt="placeholder-image" id="result-image">
  </div>
</div>
